<%- include('../partials/head.ejs')  %>
<link rel="stylesheet" href="/css/edit.css"> 
<script defer src="/scripts/edit.js"> </script>

<body>
    <header id="header">
        <%- include("../partials/header.ejs")  %> 
    </header>
    
    <main class="mainAddProd">
        <% if(locals && locals.product){
            product.id = product.id
        }
        %>
        <form action="/products/actualizar/<%= product.id %>?m=PUT " class="formAddProd" method="POST" enctype="multipart/form-data">

            <span class="title-formAdd">Editar datos del producto cargado</span>

            <input type="hidden" name="id" value="<%= product.id %>">

            <input type="text" placeholder="Nombre del Producto" name="name" id="name" value="<%= product.name ? product.name : locals.data && data.name %>">

            <% if (locals.errores && locals.errores.name) { %>
                <p class="feedback"><%= locals.errores.name.msg  %></p>
                <%  }%>
                <p id="errorName" class="feedback"></p>

            <input type="number" placeholder="Precio" name="price" value="<%= product.price ? product.price : locals.data && data.price%>">
            
            <% if (locals.errores && locals.errores.price) { %>
                <p class="feedback"><%= locals.errores.price.msg  %></p>
                <%  }%>

            <textarea name="description" placeholder="Descripcion" id="description" value=""><%= product.description ? product.description : locals.data && data.description%></textarea>
            
            <% if (locals.errores && locals.errores.description) { %>
                <p class="feedback"><%= locals.errores.description.msg  %></p>
                <%  }%>

                <p id="errorDescription" class="feedback"></p>

            <select id="category" name="category" required>
                
                <% for ( let i = 0; i < categories.length; i++ ) { %>
                    <% if (categories[i].id == product.category_id) { %>
                        
                        <option value="<%= categories[i].id%>" selected>
                            <%=categories[i].name%> 
                        </option>
                    
                    <% } else { %>
                        <option value="<%= categories[i].id%>">
                            <%=categories[i].name%> 
                        </option>
                        <% } %> 
                <% } %>
            </select>
            <input type="hidden" value="<%=product.image%>" name="oldImage">
            <div id="image-prod">
            <label  for="fotoProd">Selecionar foto del producto</label>
            <input  type="file" name="image" id="fotoProd">

            <% if (locals.errores && locals.errores.image) { %>
                <p class="feedback"><%= locals.errores.image.msg  %></p>
                <%  }%>
            <p id="errorImage" class="feedback"></p>
            </div>

            <div id="button-add">
            <button type="submit" class="button-add"> Guardar cambios </button>
            </div>

        </form>
    </main>
    
    <footer id="footer">
        <%- include("../partials/footer.ejs") %> 
    </footer>
</body>
</html>