<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')  %> 
    <link rel="stylesheet" href="/css/productList.css">
    <link rel="stylesheet" href="/css/cart.css">
</head>

<body>
    <header id="header">
        <%- include("../partials/header.ejs")  %> 
    </header>

<!-- agregar modificacion (agregar producos para modificar (/productsEdit))  y eliminar (saca el producto /productList) -->
    <main id="main-products">
        <h2>Productos</h2>
        <% if (products.length > 0) { %>
            <section id="table">
                <table>
                    <tr>
                        <th class="item">Nombre</th>
                        <th class="total">Precio</th>
                    <tr>
           
                    <% products.forEach(element => { %>
                        <tr>
                            <td class="item"><a href="/products/detail/<%= element.sku %> ">
                                <%= element.name %> </a></td> 
                            <td class="total"><a href="/products/detail/<%= element.sku %> "><%= element.price %> </a></td> 
                        </tr>
                        
                    <% }) %>
                 </table>
                  
            </section>
           

            <% } else { %>
            <h2>NO HAY PRODUCTOS</h2>
        <% } %>
    </main>

    <footer id="footer">
        <%- include("../partials/footer.ejs") %> 
    </footer>
</body>
</html>
