<%- include('../partials/head.ejs')  %> 
<link rel="stylesheet" href="/css/productList.css">

<body>
    <header id="header">
        <%- include("../partials/header.ejs")  %> 
    </header>

    <main id="main-products">
        <h2>Productos</h2>
        <form action="/products" method="get">

        <select id="category" name="category" >
            <% for ( let i = 0; i < categories.length; i++ ) { %>
                <option value="<%=categories[i].id%>" <%= query && query == categories[i].id ? 'selected' : ''  %> >
                    <%=categories[i].name%> 
                </option>
            <% } %>
        </select>

            <button type="submit">
                Filtrar
            </button>

        </form>
        
        <% if (productos.length > 0) { %>
            <ul class="product-list">
                <% productos.forEach(element => { %>
                    <%- include("../partials/productlist.ejs", {element:element}) %> 
                <% }) %>
            </ul>
            <% } else { %>
            <h2>NO HAY PRODUCTOS</h2>
        <% } %>
        
    </main>

    <footer id="footer">
        <%- include("../partials/footer.ejs") %> 
    </footer>
</body>
</html>
