<%- include('../partials/head.ejs')  %> 
<link rel="stylesheet" href="/css/agregarProd.css">

<body>
    <header id="header">
        <%- include("../partials/header.ejs")  %> 
    </header>
    
    <main class="mainAddProd">
        <form action="/dbProducts/guardar" class="formAddProd" method="post" enctype="multipart/form-data">

            <span class="title-formAdd">Completar registro de producto nuevo</span>

            <input type="hidden" name="sku">

            <input type="text" placeholder="Nombre del Producto" name="name" required>

            <input type="number" placeholder="Precio" name="price" required>

            <textarea name="description" placeholder="Descripcion"></textarea>
            
            <select id="category" name="category" required>
                <% for ( let i = 0; i < categories.length; i++ ) { %>
                    <option value=" <%=categories[i].id%> ">
                        <%=categories[i].name%> 
                    </option>
                <% } %>
            </select>

            <div id="image-prod">
            <label  for="fotoProd">Selecionar foto del producto</label>
            <input  type="file" name="image" id="fotoProd">
            </div>

            <div id="button-add">
            <button type="submit" class="button-add"> Agregar producto </button>
            </div>

        </form>
    </main>
    
    <footer id="footer">
        <%- include("../partials/footer.ejs") %> 
    </footer>
</body>
</html>