
<li class="usuario">
    <a href="/user/detail/<%= element.id%> ">
        <picture>
            <img src="/images/Uploads/users/<%= element.avatar %> " alt="avatarUser">
        </picture>
        <article>
            <p class="list-nombre">Nombre: <%= element.nombre %></p>
            <p class="list-apellido">Apellido: <%= element.apellido %></p>
            <p class="list-email">Email: <%= element.email %> </p>
        </article>
    </a>
</li>