
<li class="product">
    <a href="/user/detail/<%= element.id%> ">
        <picture>
            <img src="/images/Uploads/users/<%= element.avatar %> " alt="avatarUser">
        </picture>
        <article>
            <p class="list-name"><%= element.nombre %></p>
            <p class="list-price"><%= element.apellido %></p>
            <p class="list-envio"><%= element.email %> </p>
        </article>
    </a>
</li>