<%- include('../partials/head.ejs')  %> 
<link rel="stylesheet" href="/css/detailUser.css">

<body>
    <header id="header">
        <%- include("../partials/header.ejs")  %> 
    </header>   

    <main id="main-detailUser">
        

        <section class="profile-detailUser">
        <picture>
            <img src="/images/Uploads/users/<%=usuario.avatar%>" alt="avatarDeUsuario">
        </picture>
        </section>


        <article class="detailUser-description">
            <p class="" hidden><%= usuario.id %></p>
            <p class="detailUser-title">Nombre: <%= usuario.nombre %></p>
            <p class="detailUser-title">Apellido: <%= usuario.apellido %></p>
            <p class="detailUser-title">Email: <%= usuario.email %> </p>
            <p class="detailUser-title">Domicilio: <%= usuario.domicilio %> </p>
            <p class="detailUser-title">Fecha de nacimiento: <%= usuario.nacimiento %> </p>
        </article>
    
    <form onsubmit="return confirm('Desea eliminar este usuario?')" class="detailUser-form" action="/user/delete/<%= usuario.id %>?m=DELETE " method="post">
        <input type="hidden" name="avatar" value="<%=usuario.avatar%>">
        <button>Eliminar perfil</button>
    </form>
        
    </main>

    <footer id="footer">
        <%- include("../partials/footer.ejs") %> 
    </footer>
</body>
</html>