<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')  %> 
    <link rel="stylesheet" href="/css">
</head>
<body>
    <header id="header">
        <%- include("../partials/header.ejs")  %> 
    </header>   

    <main id="">
        
        <picture>
            <img src="/images/Uploads/users/<%=usuario.avatar%>" alt="avatarDeUsuario">
        </picture>

        <article>
            <p class=""><%= usuario.id %></p>
            <p class="">Nombre: <%= usuario.nombre %></p>
            <p class="">Apellido: <%= usuario.apellido %></p>
            <p class="">Email: <%= usuario.email %> </p>
            <p class="">Domicilio: <%= usuario.domicilio %> </p>
            <p class="">Fecha de nacimiento: <%= usuario.nacimiento %> </p>
        </article>
    
    <form action="/user/delete?m=DELETE" method="post">
        <input type="hidden" name="id" value="<%=usuario.id%>">
        <button>Eliminar perfil</button>
    </form>
        
    </main>

    <footer id="footer">
        <%- include("../partials/footer.ejs") %> 
    </footer>
</body>
</html>