<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')  %> 
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <header id="header">
        <%- include("../partials/header.ejs")  %> 
    </header>   
    
    <main id="main-profile"> 
        
        <section class="profile-avatar">
            <picture >
                <img src="/images/Uploads/users/<%=user.avatar%>" alt="avatarDeUsuario">
            </picture>
        </section>


        <article class="profile-description">
            <p class="" hidden ><%= user.id %></p>
            <p class="profile-title">Nombre: <%= user.nombre %></p>
            <p class="profile-title">Apellido: <%= user.apellido %></p>
            <p class="profile-title">Email: <%= user.email %> </p>
            <p class="profile-title">Domicilio: <%= user.domicilio %> </p>
            <p class="profile-title">Fecha de nacimiento: <%= user.nacimiento %> </p>
        </article>
    
    <form class="profile-form" action="/user/profile/edit/<%= user.id %> " method="get">
        <button type="submit">Editar perfil</button>
    </form>
    
    <form class="profile-form" action="/user/delete?m=DELETE" method="post">
        <input type="hidden" name="id" value="<%=user.id%>">
        <button>Eliminar perfil</button>
    </form>
        
    </main>

    <footer id="footer">
        <%- include("../partials/footer.ejs") %> 
    </footer>
</body>
</html>