<%- include('../partials/head.ejs')  %> 
<link rel="stylesheet" href="/css/mainHome.css">
<link rel="stylesheet" href="/css/productlistHome.css">

<body>
    <header id="header">
        <%- include("../partials/header.ejs")  %>
    </header>

    <main id="main">
        <picture id="main-section-1">
            <a href="/products">
                <img src="/images/banner/banner1.png" alt="banner">
                <div id="saludo">
                    <p class="saludo">Bienvenido 
                    <% if (user) { %>
                        <%= user.nombre %> </p>
                    <% } %>
                    
                </div>

            </a>
        </picture>   

        <section id="main-section-2">
            
            <h2 class="titles">Más vendidos</h2>
            <ul class="product-list">
                <li class="product">
                    <a href="/products/detalle/<%= productos[0].id %>"> 
                        <picture>
                            <img src="/images/Uploads/products/<%= productos[0].image %>" alt="salvavidas">
                        </picture>
                        <article>
                            <p class="list-name"><%= productos[0].name %></p>
                            <p class="list-price"><%= productos[0].price %></p>
                            <p class="list-envio">Envio gratis</p>
                        </article>
                    </a>
                </li>

                <li class="product">
                    <a href="/products/detalle/<%= productos[1].id %>"> 
                        <picture>
                            <img src="/images/Uploads/products/<%= productos[1].image %>" alt="salvavidas">
                        </picture>
                        <article>
                            <p class="list-name"><%= productos[1].name %></p>
                            <p class="list-price"><%= productos[1].price %></p>
                            <p class="list-envio">Envio gratis</p>
                        </article>
                    </a>
                </li>

                <li class="product">
                    <a href="/products/detalle/<%= productos[25].id %>"> 
                        <picture>
                            <img src="/images/Uploads/products/<%= productos[25].image %>" alt="salvavidas">
                        </picture>
                        <article>
                            <p class="list-name"><%= productos[25].name %></p>
                            <p class="list-price"><%= productos[25].price %></p>
                            <p class="list-envio">Envio gratis</p>
                        </article>
                    </a>
                </li>

                <li class="product">
                    <a href="/products/detalle/<%= productos[18].id %>"> 
                        <picture>
                            <img src="/images/Uploads/products/<%= productos[18].image %>" alt="salvavidas">
                        </picture>
                        <article>
                            <p class="list-name"><%= productos[18].name %></p>
                            <p class="list-price"><%= productos[18].price %></p>
                            <p class="list-envio">Envio gratis</p>
                        </article>
                    </a>
                </li>
            </ul>

            <h2 class="titles">Últimos buscados</h2>

            <ul class="product-list">
                <li class="product">
                    <a href="/products/detalle/<%= productos[29].id %>"> 
                        <picture>
                            <img src="/images/Uploads/products/<%= productos[29].image %>" alt="salvavidas">
                        </picture>
                        <article>
                            <p class="list-name"><%= productos[29].name %></p>
                            <p class="list-price"><%= productos[29].price %></p>
                            <p class="list-envio">Envio gratis</p>
                        </article>
                    </a>
                </li>

                <li class="product">
                    <a href="/products/detalle/<%= productos[17].id %>"> 
                        <picture>
                            <img src="/images/Uploads/products/<%= productos[17].image %>" alt="salvavidas">
                        </picture>
                        <article>
                            <p class="list-name"><%= productos[17].name %></p>
                            <p class="list-price"><%= productos[17].price %></p>
                            <p class="list-envio">Envio gratis</p>
                        </article>
                    </a>
                </li>
                
                <li class="product">
                    <a href="/products/detalle/<%= productos[8].id %>"> 
                        <picture>
                            <img src="/images/Uploads/products/<%= productos[8].image %>" alt="salvavidas">
                        </picture>
                        <article>
                            <p class="list-name"><%= productos[8].name %></p>
                            <p class="list-price"><%= productos[8].price %></p>
                            <p class="list-envio">Envio gratis</p>
                        </article>
                    </a>
                </li>

                <li class="product">
                    <a href="/products/detalle/<%= productos[3].id %>"> 
                        <picture>
                            <img src="/images/Uploads/products/<%= productos[3].image %>" alt="salvavidas">
                        </picture>
                        <article>
                            <p class="list-name"><%= productos[3].name %></p>
                            <p class="list-price"><%= productos[3].price %></p>
                            <p class="list-envio">Envio gratis</p>
                        </article>
                    </a>
                </li>
            </ul>
        </section>
    </main>

    <footer id="footer">
        <%- include("../partials/footer.ejs") %> 
    </footer>
</body>
</html>